/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; 
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@layer base {
  html , * {
    font-family: "Sora", system-ui, sans-serif;
  }
}

.expand {
  transition: all 1s ease-in-out; /* Adjust timing and easing as needed */
  // transform: translateX(200%);
  transform-origin: right;
  opacity: 1;
}

.hide {
  transition: opacity 1s ease; /* Adjust timing and easing as needed */

  opacity: 0;
  pointer-events: none; /* Ensure clicks are ignored when hidden */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Responsive styles for small screens (sm) */
  @media (max-width: 576px) {
    .close-button {
      font-size: 20px;
    }
  }
  
  /* Responsive styles for extra-small screens (xs) */
  @media (max-width: 480px) {
    .close-button {
      font-size: 16px;
    }
  }
  
  /* Add more media queries as needed for other screen sizes */
  .menu {
    display: flex;
    gap: 20px;
    overflow: hidden;
    transition: margin-inline-start 1s ease; /* Change margin-left to margin-inline-start for RTL support */
    
  }
  
  .menu-trigger {
    cursor: pointer;
  }
  
  .menu-item {
    opacity: 1;
    transform: translateX(10px);
    transition:  transform 1.5s ease;
  }
  
  .menu-item.show {
    opacity: 1;
    transform: translateX(10);
    
  }
  
  .menu-trigger.initial-position {
    margin-inline-start: 0; /* Set initial position to 0 when trigger is clicked */
    
  }
  
  .menu-hidden {
    margin-inline-start: -120%; /* Hide the menu by moving it to -100% */
  }
  